BINANCE_URL=https://api-testnet.bybit.com/v5/market/tickers?category=spot
BYBIT_URL=https://api.binance.com/api/v3/ticker/price
COINGECKO_URL=https://api.coingecko.com/api/v3/coins/
COINGECKO_APIKEY=
TIMEOUT_SEC=3
RETRIES=5
FAIL_FAST=0
LOG_LEVEL=INFO
RESULT_PATH=result.txt